select {
    font-size: 12px
}

.js_row {
    position: relative;
    margin-top: 20px;
}

.js_add_row {        
    position: absolute;
    width: 100%;
    border-bottom: 1px green dashed;
    height: 0px;
    bottom: -10px;
}

.js_add_row > div {        
    border: 1px green solid;
    width: 20px;
    text-align: center;
    position: absolute;
    left: -25px;
    top: -13px;
    border-radius: 50%;
    width: 23px;
    line-height: 22px;
    vertical-align: middle;
}

.js_add_cell {
    position: absolute;
    right: -38px;
    border: 1px green solid;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    width: 23px;
    line-height: 22px;
    vertical-align: middle;
}

.js_add_cell::before {
    border-left: 1px green dashed;
    content: "";
    position: absolute;
    height: 100%;
    left: -8px;
}

.js_cell {
    position: relative;
    border: 1px blue solid;    
}

.js_cell_col {
    position: absolute;
    //border: 1px green solid;
    width: 40px;
    top: 0px;
    right: 0px;
    vertical-align: top;
}

.menu {
    position: absolute;
    display: none;
}

.menu > div {
    border: 1px green solid;
    width: 60px;
    padding: 5px;
    font-size: 12px
}

img {
    width: 100px;
}